.p1{
    height: 200vh;
    border: 1px solid var(--element-color1);
}
.p1_inner{
    width: 50%;
    margin-left: auto;
}
.p1-1{
    background: var(--element-color1);
}
.p1-2{
    background: var(--element-color2);
}
.p1-3{
    background: var(--element-color3);
}
.p1-1,.p1-2,.p1-3{
    width: 50%;
    height: 200px;
}

.p2-1{
    height: 100px;
    background: var(--element-color1);
    overflow: hidden;
    margin-bottom: 100px;
}
.p2{
width: 50%;
}
.p2 img{
    height: 200px;
    position: absolute;
}

.p2-2{
    position: relative;
    margin-bottom: 100px;
}
.p2-2_inner{
    height: 100px;
    overflow: hidden;
    background: var(--element-color2);
}

.p2-3{
    height: 100px;
    overflow: hidden;
    background: var(--element-color3);
}
.p2-3_inner{
    position: relative;
}

.ex1{
    width: 50%;
    background:var(--element-color1);
    padding: 15px;
    height: 100px;
    position: relative;
}
.ex1::after{
content: "";
height: 40px;
position: absolute;
background-image: linear-gradient(to bottom, rgba(80, 183, 214,0) 10%,rgba(80, 183, 214,0.8) 50%, var(--element-color1) 80%);
left: 0;right: 0;
bottom: 0;
margin-right: 25px;
}

.ex1_inner{
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px !important;
    box-sizing: border-box;
}
