

.w1-1{
    background-color:var(--element-color1);
    margin-bottom: 5px;
}
.w1-2{
    display: inline-block;
    background-color:var(--element-color2);
}
.w1-3{
    display: inline;
    background-color:var(--element-color3);
}
.w2-1{
    display: inline;
    background: var(--element-color1);
}

.w3-1{
    background: var(--element-color1);
    width: 0;
    /* height: 50px;
    overflow: hidden;
    padding: 0 !important; */
    color:var(--font-color);
    /* animation: slide 5s ease  infinite forwards; */
}
@keyframes slide{
    0%{width: 0;}
    100%{width: 100%;}
}
.w3-2{
    display: inline-block;
    background: var(--element-color2);
    width: 0;
    color:var(--font-color);
}
.w3-3{
    display: inline;
    background: var(--element-color3);
    width: 0;
    color:var(--font-color);
}
.width {
    width: 100%;
  }
  
  .nav {
    background-color: var(--element-color1);
  }
  .nav-a {
    display: block;
    margin: 0 10px;
    padding: 9px 10px;
    border-bottom: 1px solid var(--element-color2);
    border-top: 1px solid var(--element-color3);
    color: #fff;
  }
  .nav-a:first-child { border-top: 0; }
  .nav-a:last-child { border-bottom: 0;}

 
  
 .ex1{
    width:300px !important;
    min-width: 550px;
    max-width: 400px;
    padding: 15px 0;
    text-align: center;
    background: var(--element-color1);
    margin: 0 auto;
    opacity: 0;
    cursor: pointer;
    transition: opacity .5s ease;
 }
 